@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>UserName: @ViewBag.data.Name</h3>
<h3>PassWord: @ViewBag.data.Pass</h3>